<!DOCTYPE html>
<html lang="en">
<head>
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Transparent Sign In Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link rel="icon" href="img/chat.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/font-awesome.css"/> <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="css/login.css" type="text/css" media="all"/> <!-- Style-CSS -->
</head>

<body class="background">
<div class="header-w3l">
    <h1>畅聊</h1>
</div>
<div class="main-content-agile" id="app">
    <div class="sub-main-w3">
        <h2>注册</h2>
        <form id="registerForm">
            <div class="icon1">
                <input placeholder="用户名" id="username" v-model="user.username" type="text"/>
            </div>

            <div class="icon2">
                <input placeholder="密码" id="password" v-model="user.password" type="password"/>
            </div>

            <div class="icon2">
                <input placeholder="确认密码" id="confirmPassword" v-model="confirmPassword" type="password"/>
            </div>

            <div class="clear"></div>
            <input type="button" id="btn1" @click="register" value="注册"/>
            <div class="icon1">
                <span id="err_msg" style="color: red; ">{{errorMessage}}</span>
            </div>
            <div class="register-link">
                <p>已有账号？<a href="login.html" style="color: #00BCD4;">立即登录</a></p>
            </div>
        </form>
    </div>
</div>
<div class="footer">
    <p>西南交通大学174064 版权所有Copyright 2025-2030 All Rights Reserved </p>
</div>

<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                user: {
                    username: "",
                    password: ""
                },
                confirmPassword: "",
                errorMessage: ""
            }
        },
        methods: {
            register() {
                // 验证表单
                if (!this.user.username) {
                    this.errorMessage = "用户名不能为空";
                    return;
                }
                if (!this.user.password) {
                    this.errorMessage = "密码不能为空";
                    return;
                }
                if (this.user.password !== this.confirmPassword) {
                    this.errorMessage = "两次密码输入不一致";
                    return;
                }

                // 发送注册请求
                axios.post("/user/register", this.user)
                    .then(res => {
                        if (res.data.flag) {
                            // 注册成功，跳转到登录页
                            alert("注册成功，请登录");
                            window.location.href = "login.html";
                        } else {
                            // 注册失败，显示错误信息
                            this.errorMessage = res.data.message;
                        }
                    })
                    .catch(err => {
                        this.errorMessage = "注册失败，请稍后再试";
                        console.error(err);
                    });
            }
        }
    });
</script>
</body>
</html> 